html {
  font-family: 'Circe', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background: #262626;
}

.golden-btn {
  background: -webkit-gradient(linear, 0 0, 100% 100%, from(#e7b64c), to(#c9881a));
  outline: none;
  border: none;
  transition: all .3s;

  &:hover {
    background: -webkit-gradient(linear, 100% 100%, 0 0, from(#e7b64c), to(#c9881a));
    cursor: pointer;
  }
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  z-index: 1;
}

.yellow-btn{
  height: 48px;
  text-align: center;
  background-color: #e7b64c;
  color: #262626;
  text-transform: uppercase;
  line-height: 48px;
  outline:none;
  border: 1px solid #e7b64c;
  transition: all .3s;
  &:hover{
    cursor: pointer;
    background-color: #262626;
    color: #fff;
  }
}


.menu {
  padding: 0;
  margin: 0;
  list-style: none;

  a {
    text-decoration: none;
    color: #fff;
  }
}

.article-wrap {
  padding-top: 68px;
}

.article-title {
  @extend .wrapper;

  h2 {
    color: #eecc7d;
    font-size: 37px;
    line-height: 52px;
    text-transform: uppercase;
    padding: 0 0 43px 0;
    margin: 0 0 70px 0;
  }
}

.article-description {
  width: 767px;
  background-color: #262626;
  color: white;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  border: 3px solid #eac257;
  padding: 40px;
  position: absolute;
  margin-top: -70px;
}