.footer {
  background-color: #f2f3f2;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.brand-mark {
  color: #737373;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 20px;
}

.green-link {
  color: #90c319;
  text-decoration: none;
  padding-bottom: 14px;
  line-height: 1.6;

  &:hover {
    text-decoration: underline;
  }
}

.privacy {
  color: #d4d4d4;
}