.footer{
  height: 120px;
  background-color: #f2f3f2;
  font-size: 11px;
}

.footer-wrap{
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-right{
  width: 585px;
  padding-top: 58px;
}
.footer-left{
  padding-top: 25px;
}
.brand-mark{
  color: #737373;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 20px;
}

.green-link{
  color: #90c319;
  text-decoration: none;
  padding-bottom: 14px;
  line-height: 1.6;
  &:hover{
    text-decoration: underline;
  }
}
.privacy{
  color: #d4d4d4;
}