
.header {
  height: 132px;
  color: #fff;
  font-size: 17px;
}

;

.header-wrap {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @extend .wrapper;
} ;

.call {
  width: 196px;
  height: 50px;
  line-height: 50px;
  background: -webkit-gradient(linear, 0 0, 100% 100%, from(#e7b64c), to(#c9881a));
  text-transform: uppercase;
  font-size: 15px;
  @extend .golden-btn;
};

.phone {
  font-size: 27px;
}

;