.header {
  height: 132px;
  color: #fff;
  font-size: 17px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}

.header-wrap {
  @extend .wrapper;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.call {
  width: 196px;
  height: 50px;
  line-height: 50px;
  background: -webkit-gradient(linear, 0 0, 100% 100%, from(#e7b64c), to(#c9881a));
  text-transform: uppercase;
  font-size: 15px;
  @extend .golden-btn;
}

.phone {
  font-size: 27px;
  text-decoration: none;
  color: #fff;

  &:hover {
    text-decoration: underline;
  }
}
