.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.footer p {
  font-size: 18px;
  color: #a7acbc;
  font-weight: 300;
  padding-bottom: 7px;
}

.footer a {
  font-weight: bold;
  font-size: 18px;
  color: #a7acbc;
  text-decoration: none;
}
