.specs {
  background-color: #f6f6f6;
  text-align: center;
  padding: 115px 0;
}

.specs-list {
  padding: 0 0 60px 0;
  display: flex;
  flex-wrap: wrap;
}

.specs-list-item {
  flex: 1 0 25%;
  text-align: center;
  padding: 0 10px 55px 10px;
}

.specs-logo {
  height: 98px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.specs-icon-air {
  background-image: url(../images/from-air-logo.png);
}

.specs-icon-best {
  background-image: url(../images/best-drone-logo.png);
}

.specs-icon-speed {
  background-image: url(../images/speed-logo.png);
}

.specs-icon-range {
  background-image: url(../images/long-range-logo.png);
}

.specs-text {
  color: #5e6372;
  font-size: 18px;
  line-height: 1.5;
}