<div class="apartment">
    <img src="../images/parking-icon.jpg" alt="" class="parking-icon">
    <img src="../images/two-bed-apt.jpg" alt="" class="apartment-scheme">
    <div class="apt-specs">
        <div class="square">Евродвушка 63 м<sup>
            <small>2</small>
        </sup></div>
        <div class="previous-price"><s>oт 4 160 000 &#8381</s></div>
        <div class="new-price">от 3 990 000 &#8381</div>
        <div class="release-date">Срок сдачи: 4 квартал 2019</div>
        <button class="calculate-btn">Рассчитать ипотеку</button>
        <div class="apt-number">Барселона B88</div>
    </div>
</div>