<div class="offices-wrap">
    <div class="tabs-wrap">
        <div class="yellow-btn big">демонстрационный офис</div>
        <div class="brown-btn big">центральный офис</div>
    </div>
    <div class="offices-col-wrap">
        <div class="offices-left-col">
            <div class="parameter">Адрес</div>
            <div class="info">проезд Тихий, д. 4, стр. 1</div>
            <div class="parameter">Часы работы</div>
            <div class="info">10:00-19:00, ежедневно</div>
            <div class="empty-block"></div>
            <div class="yellow-btn b-small">заказать звонок</div>
        </div>
        <div class="offices-right-col">
            <div class="parameter">Телефон</div>
            <a href="tel:+7 (3452) 69-73-55" class="info">+7 (3452) 69-73-55</a>
            <div class="parameter">Электронная почта</div>
            <a href="mailto:snegiri2011@mail.ru" class="info">snegiri2011@mail.ru</a>
            <div class="empty-block"></div>
            <div class="brown-btn big">отправить письмо директору</div>
        </div>

    </div>

</div>